#g-footer {
    background: $footer-background;
    color: $footer-text-color;
    [id^="module-"][id$="-particle"] {
        color: $base-text-color;
    }
    .jl-card-title {
        font-size: 22px;
    }
    .jl-panel.moduletable {
        margin-bottom: 20px;
    }
    @if $footer-background-image {
        background-image: url($footer-background-image);
        background-size: cover;
        background-position: center;
    }
    a {
        &.jl-icon-button {
            color: initial;
            &:hover,
            &:focus,
            &:active {
                color: $accent-color-1;
            }
        }
        color: $footer-link-color;
        &:hover,
        &:focus,
        &:active {
            color: $footer-link-hover-color;
        }
    }
}

@media print {
    #g-container-footer {
        background: #fff !important;
        color: #000 !important;
    }
}
